.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}
h1 {
	font-size: 36px;
	margin-bottom: 30px;
}
form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;
}
form label {
	display: block;
	margin-bottom: 10px;
}
form input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	background-color:silver ;
}
form button {
	padding: 10px 20px;
	margin-left: 10px;
	border: none;
	background-color:orange;
	color:white;
	cursor: pointer;
}
form button:hover {
	background-color:black;
}
#result {
	font-size: 24px;
	font-weight: bold;
	color:black;
}
